*{
    font-family: "Kanit", sans-serif;
    box-sizing: border-box;
} 
header{
    background-color: aquamarine;
    padding: 10px;
    border-radius: 10px;
}
header h1{
    margin: 0;
}
body{
    margin: 0;
    padding: 0;
    background-color: antiquewhite;
}
nav{
    background-color: brown;
    border-radius: 10px;
}
nav ul{
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: auto;
}
nav ul li a{
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}
nav a:hover{
    background-color: black;
    border-radius: 10px;
}
nav li{
    float: left;
}
main{
    display: flex;
    justify-content: space-between;
    margin: 10px auto;
    padding: 20px;
    max-width: 90%;
    background-color: aliceblue;
    height: 100vh;
    width: 100vw;
}
main h1{
    text-align: center;
}
main div{
    background-color: blue;
    max-width: 80%;
    margin: 10px;
    border-radius: 10px;
}
main div article{
    background-color: brown;
    border:  1px solid black;
    padding: 25px;
    margin: 10px;
    border-radius: 10px;
}
.aside{
    background-color: aqua;
    border-radius: 10px;
}
.aside div{
    background-color: antiquewhite;
    padding: 20px;
}
.aside div a{
    text-decoration: none;
    display: block;
    text-align: center;
    background-color: yellowgreen;
    border-radius: 10px;
}
.aside div a:hover{
    background-color: brown;
}
footer{
    text-align: center;
    position: fixed;
    background-color: #333;
    width: 100%;
    padding: 10px;
    bottom: 0;
}